:root{
    --element-background: #343434cc;
    --background-color: #2a2a2acc;
    --font-color: white;
    --border: 1.75px solid #4C4E52;
    --tab-active-background: #444444cc;
    --invert: 1;
}

html{
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    display: table;
    background-color: rgb(0,0,0);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Segoe UI Variable';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI Variable'), url('https://fonts.cdnfonts.com/s/63254/SegoeUIVF.woff') format('woff');
}

@font-face {
    font-family: 'Aloja';
    src: url('aloja-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Segoe UI Variable, Segoe UI;
    transition: all .2s;
}

::-webkit-scrollbar {
    --scroll: rgb(255 255 255 / 80%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");

    width: 14px;
    border-radius: 14px;
}

::-webkit-scrollbar:hover {
    background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px) / contain
            no-repeat,
        var(--scrollbar-top-btn) 0% calc(0% + 3px) / contain no-repeat,
        var(--scroll);
}

::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 50%);
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
}

::-webkit-scrollbar-button:single-button {
    height: 14px;
}

tooltip {
    opacity: 0;
    transition: all .5s ease;
    position: fixed;
    background: var(--background-color);
    color: var(--font-color);
    border: var(--border);
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 10000000000;
    backdrop-filter: saturate(3) blur(20px);
}

.invert{
    filter: invert(var(--invert));
}

.topbar{
    background: var(--background-color);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px 10px 0rem 0rem;
    backdrop-filter: saturate(3) blur(20px);
    -webkit-backdrop-filter: saturate(3) blur(20px);
    min-width: fit-content;
    transition: all .17s cubic-bezier(.79,.14,.15,.86);
    z-index: 100;
    position: relative;
}

.tabsandmore{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 100%;
    width: fit-content;
    z-index: 100;
}

.newtabandsettings{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1F1F1F;
    width: fit-content;
    margin: 5px;
    box-sizing: border-box;
    padding: 2.5px 0px;
    height: 35px;
}

.newtabandsettings img{
    padding: 2.5px;
    box-sizing: border-box;
    width: 30px;
    margin: 0px 2.5px;
    background: #2c2c2c;
    border-radius: 10px;
}

.tabsection{
    height: 45px;
    display: flex;
    align-items: center;
    width: 100%;
}

#moremenu{
    display: none;
    position: absolute;
    width: 100px;
    height: fit-content;
    background-color: var(--element-background);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    color: var(--font-color);
    padding-bottom: 7.5px;
    z-index: 1000000000;
    right: -1000000px;
    bottom: -10000000px;
    backdrop-filter: saturate(3) blur(20px);
}

#moremenu p{
    font-size: 13px;
    margin: 7.5px 0px;
}

#moremenu img{
    width: 30px;
}

#lightanddarkmodebuttons{
    display: flex;
    justify-content: center;
}

#lightanddarkmodebuttons div{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0px 5px;
}

#lightmodebutton{
    background: #d9d9d9;
}

#darkmodebutton{
    background: #202020;
}

.exitfullscreenbutton{
    display: none;
}

.horizontaltabsbutton{
    display: none;
}

.tab , .settingstab{
    cursor: default;
    display: flex;
    align-items: center;
    background: var(--element-background);
    height: 35px;
    min-height: 35px;
    box-sizing: border-box;
    padding: 0px 10px;
    border-radius: 10px;
    border: var(--border);
    color: var(--font-color);
    margin: 5px;
}

.tab{
    width: 0px;
    max-width: 125px;
    overflow: hidden;
    margin: 5px;
    backdrop-filter: saturate(3) blur(20px);
    -webkit-backdrop-filter: saturate(3) blur(20px);
}

.tabfavicon{
    width: 17.5px;
    margin-right: 5px;
    border-radius: 17.5px;
}

.tab p , .settingstab p{
    margin: 0px;
    justify-self: baseline;
}

.tabclose{
    margin-left: auto;
    width: 10px;
}

.tab.active , .settingstab.active{
    background: var(--tab-active-background) !important;
}

#urlbartop{
    width: calc(100% - 5px);
    height: 35px;
    box-sizing: border-box;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    z-index: 10;
}

#urlbartop input{
    margin: 0px 5px;
    width: -webkit-fill-available;
    height: 100%;
    border: none;
    outline: none;
    background: var(--element-background);
    border-radius: 8px;
    text-align: center;
    color: var(--font-color);
    border: var(--border);
    backdrop-filter: saturate(3) blur(20px);
    -webkit-backdrop-filter: saturate(3) blur(20px);
}

#urlbartop div{
    display: flex;
}

#urlbartop div svg{
    width: 25px;
}

#urlbartop div svg path{
    fill: #5f6368;
    stroke: #5f6368;
}

#homepage{
    overflow: hidden;
    text-align: center;
    background-color: #000410;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: none;
    border-radius: 10px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
}

@keyframes slide{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

#homepage ul {
    margin: 0;
    margin-top: 5px;
}

#homepage *{
    z-index: 5;
    color: white;
}

#homepageimage {
    background-image: url("stars.jpg");
    width: 5076px;
    animation: slide 55s linear infinite;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-size: cover;
}

header{
    font-family: Segoe UI Variable, Segoe UI;
    font-size: 50px;
    margin: 10px 0px;
}

#urlbarhomepage{
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 0px;
    margin: 0px 5px;
}

#urlbarhomepage input{
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: var(--element-background);
    border-radius: 10px;
    text-align: center;
    color: var(--font-color);
    border: var(--border);
    backdrop-filter: saturate(3) blur(20px);
}

#pageimagelinks{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageimagelinks div{
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
    border: var(--border);
    background: var(--element-background);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: saturate(3) blur(20px);
}

#pageimagelinks img{
    height: 40px;
}

#homepagelinks{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#homepagelinks p{
    text-decoration: underline;
    margin: 0;
    font-size: 14.5px;
}

#homepagelinks p:hover{
    cursor: pointer;
}

.iframe{
    background: var(--background-color);
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    border: none;
    border-radius: 0rem 0rem 10px 10px;
    position: absolute;
    top: 100px;
    left: 10px;
    display: none;
    z-index: 10;
    backdrop-filter: saturate(3) blur(20px);
}

#settingsbackground{
    background-color: rgba(247,247,247, 0.15);
    backdrop-filter: saturate(3) blur(10px);
    -webkit-backdrop-filter: saturate(3) blur(10px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin-left: -10px;
    display: none;
    justify-content: center;
    align-items: center;
}

#settings{
    width: 70%;
    height: 70%;
    overflow: hidden;
    background: var(--background-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    backdrop-filter: saturate(3) blur(20px);
}

#settings *{
    color: var(--font-color);
}

#settingssidebar{
    background-color: #1F1F1F;
    height: 100%;
    width: 100px;
}

#settingssidebar h4{
    margin: 10px;
    text-align: center;
}

.settingstab img{
    margin-left: 25px;
}

.settingstab p{
    font-size: 13px;
}

.settingssection h1{
    margin: 0;
}

.taboptions p{
    margin: 0;
}

.settingssection{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.settingssection input{
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 0px;
    margin: 0px 5px;
    border: none;
    outline: none;
    background: var(--element-background);
    border-radius: 10px;
    text-align: center;
    border: var(--border);
}

#themeoptions , #backgroundoptions, .taboptions{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
}

.themeoption , .backgroundoption, .taboption{
    margin: 10px;
}

.themeoption img , .backgroundoption img, .taboption img, #lighttheme , #darktheme{
    width: 200px;
    border-radius: 10px;
    height: 125px;
}

.themeoption p , .backgroundoption p, .taboption p{
    font-size: 13px;
    text-align: center;
    margin: 0;
}

#lighttheme{
    background: #d9d9d9;
}

#darktheme{
    background: #202020;
}